<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
   {% block content %}
   falana
   <form action="" novalidate method="POST" enctype="multipart/form-data">
       <label for="">enter file</label>
       <input type="file" name="file"> 
       <button type="submit">submit</button>
   </form>
   {% endblock %}
</boml>